body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* reset */

* {
    box-sizing: border-box;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER  */

.page-header {
    border: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo-link {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo-accent {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-link {
    padding: 24px 0;
     display: block;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* hero section  */

.hero-section {
    background: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/img_12.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

button {
    cursor: pointer;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        padding: 16px 32px;
            border: none;
            border-radius: 4px;
            min-width: 169px;
            display: block;
            margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* features section  */

.features-section {
    padding: 120px 0;
    background-color: #ffffff;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
}

.features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}


/* team section  */


.team-section{
    background: #f4f4fd;
    padding: 120px 0;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
        text-align: center;
        box-shadow:
                0px 1px 1px rgba(0, 0, 0, 0.08),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.1);
}

.team-photo {
    display: block;
    width: 100%;
    height: auto;
}

.team-info {
    padding: 32px 0;
}

.team-name {
        margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-role {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}


/* portfolio section  */

.portfolio-section {
    padding: 120px 0;
    background-color: #ffffff;
}

.portfolio-container {
    flex-direction: column;
    align-items: center;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-image {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-category {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* footer section  */

.page-footer{
    background: #2e2f42;
    padding: 100px 0;
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}